.welcome {
  font-size: 180%;
  color: blue;
  font-style: italic;
  padding: 5%;
  font-weight: 500;
  align-items: center;
}
.para {
  display: flex;
  font-size: 150%;
  color: rgb(44, 41, 41);
  background-color: aqua;
  padding: 10%;
}
